<tr>
  <td colspan="4"><%= patient.name %></td>
  <td><%= patient.birth_date.strftime("%d/%m/%Y") %></td>
  <td><%= patient.cpf_formatted %></td>
  <td>
    <%= link_to edit_patient_path(patient), 
        class: 'btn waves-effect waves-light btn-small icon-button tooltipped', 
        data: { position: 'top', tooltip: 'Editar' } do %>
      <i class="material-icons">edit</i>
    <% end %>
    <%= link_to patient, method: :delete,
        class: 'btn waves-effect waves-light btn-small icon-button tooltipped', 
        data: { position: 'top', tooltip: 'Excluir', confirm: 'Tem certeza?' } do %>
      <i class="material-icons">delete</i>
    <% end %>
  </td>
</tr>