<tr>
        <td colspan="4"><%= doctor.name %></td>
        <td><%= doctor.crm %>/<%= doctor.crm_uf %></td>
        <td>
          <%= link_to doctor_path(doctor), 
              class: 'btn waves-effect waves-light btn-small icon-button tooltipped', 
              data: { position: 'top', tooltip: 'Visualizar' } do %>
            <i class="material-icons">visibility</i>
          <% end %>
          <%= link_to edit_doctor_path(doctor), 
              class: 'btn waves-effect waves-light btn-small icon-button tooltipped', 
              data: { position: 'top', tooltip: 'Editar' } do %>
            <i class="material-icons">edit</i>
          <% end %>
          <%= link_to edit_doctor_path(doctor), 
              class: 'btn waves-effect waves-light btn-small icon-button tooltipped', 
              data: { position: 'top', tooltip: 'Excluir' } do %>
            <i class="material-icons">delete</i>
          <% end %>
        </td>
      </tr>